<!DOCTYPE html>
<html>
    <head>
        <title>sales</title>
    </head>
    <body style="background-color:#AED6F1;">
	{% include "base.html" %}
        <h1 style="font-family:utopia;font-size:200%;color:white;">Add your product for sale</h1>
	<a href="{% url 'logout' %}">LOGOUT</a>
	<a href="{% url 'product_display' %}">See all products</a>
        <form id="product_form" method="post" action="blog/save_product/"enctype="multipart/form-data">

            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
               <div> {{ field }}
		<div>
            {% endfor %}

            <input type="submit" name="submit" value="Submit" />
        </form>
    </body>

</html>
