<!DOCTYPE html>
<html>
    <head>
        <title>SignUp here</title>
    </head>

    <body style="background-color:#e6fff9;">
        <h1>Sign Up here</h1>

        {% if registered %}
         <strong>You have registered successfully</strong>
        <a href="/login">Login Now.</a><br />
        {% else %}
         <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
	<div> <li><a href="{% url 'login'%}">Already a user? Login here</a></li></div>
    </body>
</html>
